<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <title>Memory Game</title>
</head>
<body>
  <div id="game">
    <div class="options">
      <select id="difficulty" v-model="selectedLevel">
       <option v-for="option in levels" v-bind:value="option.value">
            {{ option.text }}
       </option>
      </select>
    </div>
    <div class="game-board">
      <card-easy v-for="card in filteredCards" v-bind:card="card" v-bind:key="card.id" ></card-easy>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>

</html>