<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo|Baloo+Chettan"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="index.css" />
    <title>Memory Game</title>
  </head>
  <body>
    <div id="app">
      <section id="main-menu" v-if="!playGame">
        <div class="main-menu">
          <header>
            <h1>MEMORY</h1>
            <h2>&lt; &gt; Web Developer Edition &lt;/ &gt;</h2>
          </header>
          <main>
            <div class="options">
              <label for="difficulty">Difficulty: </label>
              <select name="difficulty" id="difficulty" v-model="selectedLevel">
                <option v-for="option in levels" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
            </div>
            <div>
              <button @click="startGame">Start Game</button>
            </div>
          </main>
          <footer>
            <p>Created By: Nathan Brown</p>
            <p>2019</p>
          </footer>
        </div>
      </section>

      <section id="game" v-if="playGame">
        <header>
          <h2>Guesses: {{ guesses }}</h2>
        </header>
        <main id="game-board" :class="selectedLevel">
          <game-card
            v-for="card in filteredCards"
            :card="card"
            :key="card.id"
          ></game-card>
          <game-over
            :guesses="guesses"
            v-if="gameOver"
            v-on:play-again="playAgain"
            v-on:main-menu="quitGame"
          ></game-over>
        </main>
        <footer>
          <button @click="quitGame">Quit Game</button>
        </footer>
      </section>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</html>
